@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-all {
  transition-timing-function: ease-in-out;
  transition-duration: .15s;
}

.categoryButton {
  @apply flex items-center text-sm; }
.categoryButton__icon {
  @apply w-12 h-12 mr-2 flex justify-center items-center rounded-full; }
.categoryButton:hover .categoryButton__icon {
  @apply bg-gray-100; }

.searchBar {}
.searchBar__input:valid + .searchBar__placeholder {
  opacity: 0; }
