* {
  scroll-behavior: smooth;
}

body {
  min-height: var(--app-height);

  &.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

@mixin responsive($media) {
  @media only screen and (max-width: $media) { @content; }
}
