// Variables
// --------------------------------------------------


// == Colors
// ## Theme default colors

$brand-primary:         #ffffff !default;
$brand-secondary:       #ffffff !default;
$brand-warning:         #ffffff !default;
$brand-light:           #ffffff !default;

$brand-text:            #0A191E !default;
$brand-text-light:      #798184 !default;
$brand-border:          #F1F1F1 !default;

// == Breakpoints
// ## Theme breakpoint size

$breakpoint-xs:         0 !default;
$breakpoint-sm:         576px !default;
$breakpoint-md:         768px !default;
$breakpoint-lg:         992px !default;
$breakpoint-xl:         1200px !default;
